project_id     = "your-project-id"
region         = "us-central1"
zone           = "us-central1-a"
image_name     = "bitnami-launchpad/jenkins-2-504-3-r0-debian-12-amd64"
domain_name    = "jenkins.yourdomain.com"
iap_user_email = "your-email-address"
